.gridContainer{
    border:1px solid black;
    display:flex;
    flex-wrap:wrap;
    height:440px;
    width: 220px;
}
.gridContainer>div{
    height:20px;
    width:20px;
    border:1px solid black;
}
.block{
    background:orange;
}
.restedBlock{
    background: orange;
}